[submodule "pain-compiler"]
	path = pain-compiler
	url = https://github.com/pain-lng/pain-compiler.git
[submodule "pain-lsp"]
	path = pain-lsp
	url = ./pain-lsp
[submodule "pain-runtime"]
	path = pain-runtime
	url = ./pain-runtime
[submodule "painpkg"]
	path = painpkg
	url = ./painpkg
